# Import libraries

In [1]:
import pandas as pd
import numpy as np

# Read train and test data

In [3]:
df_train_x = pd.read_csv('../matrix_for_model/train_brand_matrix.csv',  index_col='device_id')
df_test_x = pd.read_csv('../matrix_for_model/test_brand_matrix.csv', index_col='device_id')

print(df_train_x.shape)
print(df_test_x.shape)

(74645, 1730)
(112071, 1730)

# Merge label_matrix

#### Read label_matrix data

In [6]:
df_label = pd.read_csv('../matrix_for_model/label_matrix.csv',  index_col='device_id')
print(df_label.shape)
df_label.head()

(60669, 473)

,category_1 free,category_1 reputation,category_1 vitality,category_3 kindom game,category_80s Japanese comic,category_90s Japanese comic,category_A beauty care,category_A shares,category_ARPG,category_Academic Information,...,category_travel,category_tribe,category_trickery,category_unknown,category_video,category_violence comic,category_vitality,category_war chess,category_weibo,category_zombies game
device_id,,,,,,,,,,,,,,,,,,,,,
-9222956879900151005,0,1,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0
-9222661944218806987,1,0,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0
-9222399302879214035,0,0,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0
-9221825537663503111,1,0,0,0,0,0,0,0,0,0,...,0,0,0,1,1,0,0,0,0,0
-9221767098072603291,1,1,0,0,0,0,0,0,0,0,...,0,0,0,1,1,0,0,0,0,0

#### Merge on device_id

In [9]:
df_train_x = df_train_x.join(df_label, how='left')
print(df_train_x.shape)

df_test_x = df_test_x.join(df_label, how='left')
print(df_test_x.shape)

(74645, 2203)
(112071, 2203)

#### Fill in missing data

In [13]:
df_train_x.fillna(0, inplace=True)
print('Missing value of df_train_x:', df_train_x.isnull().any().sum())

df_test_x.fillna(0, inplace=True)
print('Missing value of df_test_x',df_test_x.isnull().any().sum())

Missing value of df_train_x: 0
Missing value of df_test_x 0

# Merge app_matrix

#### Read app_matrix data

In [14]:
df_app = pd.read_csv('../matrix_for_model/app_matrix.csv',  index_col='device_id')
print(df_app.shape)
df_app.head()

(60669, 10511)

,app_id_0,app_id_1,app_id_10,app_id_100,app_id_1000,app_id_10000,app_id_10002,app_id_10003,app_id_10004,app_id_1001,...,app_id_9981,app_id_9982,app_id_9986,app_id_9989,app_id_999,app_id_9990,app_id_9993,app_id_9994,app_id_9996,app_id_9997
device_id,,,,,,,,,,,,,,,,,,,,,
-9222956879900151005,1,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
-9222661944218806987,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
-9222399302879214035,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
-9221825537663503111,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
-9221767098072603291,1,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

#### Merge on device_id

In [15]:
df_train_x = df_train_x.join(df_app, how='left')
print(df_train_x.shape)

df_test_x = df_test_x.join(df_app, how='left')
print(df_test_x.shape)

(74645, 12714)
(112071, 12714)

#### Fill in missing data

In [16]:
df_train_x.fillna(0, inplace=True)
print('Missing value of df_train_x:', df_train_x.isnull().any().sum())

df_test_x.fillna(0, inplace=True)
print('Missing value of df_test_x',df_test_x.isnull().any().sum())

Missing value of df_train_x: 0
Missing value of df_test_x 0

# Write df_train_x and df_test_x to CSV file

In [17]:
df_train_x.to_csv('../matrix_for_model/train_x.csv')
df_test_x.to_csv('../matrix_for_model/test_x.csv')